html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #66c2ff;
    color: #66c2ff;
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.2s ease-out 0s;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}


.hello-world {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hello-world label {
    display: block;
    color: #3333ff;
    font-size: 2rem;
}

.hello-world input {
    border: none;
    background-color: #66c2ff;
    color: #990033;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: bold;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    text-align: center;
    width: 20rem;
}

.hello-world input:focus {
    width: 30rem;
}
small {
    color: #66c2ff !important;
}